@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/c43de28e-0cad-4e9b-b83f-5dcb2f260c40) format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(fonts/e6af9e7d-71f0-407c-806a-a2bdf5e60c14) format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(fonts/731bdc1b-9116-4acb-bb8a-aad0a017634b) format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(fonts/ddee06ad-57e9-4742-a76f-4f7896c2e3a3) format("truetype"); }
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/a515859e-1b8b-4cfc-87c7-37c893098300) format("woff"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(fonts/b3255a92-11a2-4288-aff4-837dcb47c2d9) format("woff"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(fonts/0b134404-b88b-4dce-976d-46a0b1953900) format("woff"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(fonts/7efec039-a2ed-43e5-b1c6-736985af0050) format("woff"); }
/* latin-ext */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/b0092918-b8ea-4ea6-a75b-c5f508bdb894) format("woff2");
  unicode-range: u+0100-024f, u+1e00-1eff, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff; }
/* latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/9eedffad-e7b0-4af0-b7b3-7df583b2d3c7) format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000; }
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(fonts/a863242a-ae91-44a7-b01d-01f0c0ac0f70) format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000; }
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(fonts/d0bf82fd-2234-4f59-9f51-921f80a74b64) format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000; }
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(fonts/af6a8b1a-dd5e-4714-8612-94afaa8d0a59) format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000; }
html, body {
  margin: 0;
  position: relative; }

section {
  min-height: 100vh;
  position: relative;
  font-family: Raleway; }
  section > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    padding: 0 20px; }
@media(min-width: 548px) {
  section > div {
    font-size: 120%;
    width: 60%;
    padding: 0 10%; } }
  section input[type="text"],
  section input[type="tel"],
  section input[type="email"] {
    padding: 10px;
    margin: 0 0 10px 0;
    min-width: 100%;
    font-size: 25px;
    font-family: Raleway;
    border: 0;
    background: rgba(0, 0, 0, 0.3);
    color: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    section input[type="text"]:active, section input[type="text"]:focus,
    section input[type="tel"]:active,
    section input[type="tel"]:focus,
    section input[type="email"]:active,
    section input[type="email"]:focus {
      outline: none;
      border: none; }
    section input[type="text"]:hover, section input[type="text"]:active, section input[type="text"]:focus,
    section input[type="tel"]:hover,
    section input[type="tel"]:active,
    section input[type="tel"]:focus,
    section input[type="email"]:hover,
    section input[type="email"]:active,
    section input[type="email"]:focus {
      background: rgba(0, 0, 0, 0.5);
      transition: background 0.4s; }
  section button[data-type="nav"],
  section button[type="submit"] {
    font-size: 16px;
    font-family: Raleway;
    color: inherit;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px 20px;
    float: right;
    cursor: pointer; }
    section button[data-type="nav"]:active, section button[data-type="nav"]:focus,
    section button[type="submit"]:active,
    section button[type="submit"]:focus {
      outline: none;
      border: none; }
    section button[data-type="nav"]:hover,
    section button[type="submit"]:hover {
      background: rgba(0, 0, 0, 0.9);
      transition: background 0.4s; }
  section button[type="submit"] {
    float: left;
    padding: 10px 20px;
    font-size: 20px; }
  section select {
    font-size: 20px;
    border: none;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    font-family: Raleway;
    color: #FFFFFF; }
  section span {
    opacity: 0.6; }
  section#one {
    background: #1A237E;
    background: url(/img/bg-hatches.png) fixed;
    color: #FFFFFF; }
  section#two {
    background: #880E4F;
    color: #FFFFFF; }
  section#three {
    background: #1A237E;
    color: #FFFFFF; }
  section#four {
    background: #006064;
    color: #FFFFFF; }
  section#five {
    background: #311B92;
    color: #FFFFFF; }
  section.six {
    background: url(/img/treeline.png) fixed;
    background: green; }

/*# sourceMappingURL=main.css.map */
